<html>
<head>
    <title>Shoe Brands</title>
    {% include 'css_codes.html' %}
</head>
<body>
  <div class="container">
      <h1>{{ brand.getName }}</h1>
      <form action="/" method="get">
          <button type="submit" class="btn btn-primary">HOME</button>
      </form>
      <div class="container">
          <h3>Add a Store to this Brand</h3>
          <form action="/add_store/{{brand.getId}}" method="post">
              <select name="store" class="form-control">
                  {% for store in stores %}
                      <option value='{{store.getId}}'>{{ store.getId}} - {{store.getName}}</option>
                  {% endfor %}
              </select>
              <button type="submit" class="btn btn-info">Submit</button>
          </form>
      </div>

      <p><a href="/">Back</a></p>
      <p>Stores that stock this brand:<p>
      <ol>
          {% for store in store_brand %}
              <li class="medium_txt">{{ store.getName }}</li>
          {% endfor %}
      </ol>
  </div>
</body>
</html>
